aioredis==1.3.0
amqp==2.5.1
asgiref==3.2.2
asn1crypto==1.1.0
astroid==2.3.1
async-timeout==3.0.1
attrs==19.2.0
autobahn==19.10.1
Automat==0.7.0
billiard==3.6.1.0
celery==4.3.0
cffi==1.12.3
channels==2.3.0
channels-redis==2.4.0
constantly==15.1.0
cryptography==2.7
daphne==2.3.0
Django==2.2.6
django-celery-beat==1.5.0
django-celery-results==1.1.2
django-redis==4.10.0
django-timezone-field==3.1
hiredis==1.0.0
httpsig==1.3.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.23
incremental==17.5.0
isort==4.3.21
kombu==4.6.5
lazy-object-proxy==1.4.2
mccabe==0.6.1
more-itertools==7.2.0
msgpack==0.6.2
psycopg2==2.8.3
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.9.0
PyHamcrest==1.9.0
pylint==2.4.2
python-crontab==2.3.9
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.3
redis==3.3.10
six==1.12.0
sqlparse==0.3.0
Twisted==19.7.0
txaio==18.8.1
typed-ast==1.4.0
vine==1.3.0
wrapt==1.11.2
zipp==0.6.0
zope.interface==4.6.0
