{% extends 'settings/__head.html' %}

{% block title %}パスワード変更 | CrossPlan{% endblock %}

{% block side %}
<h2 class="ui header">パスワード変更</h2>
<hr>
<form method="POST" action="{% url 'Settings_Password' %}" class="ui form error">
    {% if form.non_field_errors or field.errors %}
    <div class="ui negative message">
        <div class="header">以下の項目を確認してください。</div>
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    {% for field in form %}
    <div class="field{% if field.errors %} error{% endif %}">
        <label>{{ field.name }}</label>
        {{ field }}
    </div>
    {% if field.errors %}
    <div class="ui error message">
        <div class="header">以下の項目を確認してください。</div>
        {{ field.errors }}
    </div>
    {% endif %}
    {% endfor %}
    {% csrf_token %}
    <button class="ui button primary fluid" type="submit">変更</button>
</form>
{% endblock %}
