{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}CrossPlan{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
        <link rel="stylesheet" href="{% static 'semantic/Semantic-UI-Alert.css' %}">

        {% block head %}{% endblock %}

        <style>
            .ui.header .emoji {
                height: 0.9em;
                width: 0.9em;
                margin:0 .05em 0 .1em;
                vertical-align:-0.1em;
            }
            img.emoji {
                height:1em;
                width:1em;
                margin:0 .05em 0 .1em;
                vertical-align:-0.1em;
            }
        </style>
        {% block style %}{% endblock %}
    </head>
    <body>
        <div class="ui top fixed menu">
            <a class="item header" href="{% url 'INDEX' %}">CrossPlan</a>
            <div class="right menu">
                {% if user.is_authenticated %}
                <div class="right icon item link" id="newPostButton" title="新規投稿">
                    <i class="pencil alternate icon"></i>
                </div>
                <div class="item ui right dropdown link">
                    <span class="text">{{ user.username }}</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{% url 'UserShow' user.username %}">プロフィール</a>
                        <a class="item" href="{% url 'Settings_Profile' %}">設定</a>
                        {% if user.is_staff %}
                        <div class="divider"></div>
                        <a class="item" href="{% url 'admin:index' %}">管理画面へ</a>
                        {% endif %}
                        <div class="divider"></div>
                        <a class="item" href="{% url 'Logout' %}">ログアウト</a>
                    </div>
                </div>
                {% else %}
                <a class="item right" href="{% url 'Login' %}">ログイン</a>
                {% endif %}
            </div>
        </div>
        <main style="padding-top: 7em;">
            <div class="ui container">
                {% block body %}{% endblock %}
            </div>
        </main>
        {% if user.is_authenticated %}
        <div class="ui modal tiny" id="newPostModal">
                <i class="close icon"></i>
                <div class="header">新規投稿</div>
                <div class="content">
                    <form method="POST" action="{% url 'NewPost' %}" id="newPostForm" name="newPostForm" class="ui form" onsubmit="return false;">
                        {% for field in NewPostForm_ %}
                            <div class="field">
                                <label>{{ field.name }}</label>
                                {{ field|add_class:"enableShortcutKey" }}
                            </div>
                        {% endfor %}
                        {% csrf_token %}
                    </form>
                </div>
                <div class="actions">
                    <button class="ui primary button" id="postSubmit">投稿</button>
                </div>
        </div>
        {% endif %}
        <script type="text/javascript" src="{% static 'jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'semantic/Semantic-UI-Alert.js' %}"></script>
        <script src="https://twemoji.maxcdn.com/v/12.1.3/twemoji.min.js" integrity="sha384-PEQg4NJbyXT+TJJVKYN9zmD5ehVaV3TiBdzovT7WkshNClGNg8+bk4hKQ+lGrgaw" crossorigin="anonymous"></script>
        <script type="text/javascript">twemoji.parse(document.body)</script>
        <script type="text/javascript" src="{% static 'semantic/runSemantic.js' %}"></script>
        <script type="text/javascript" src="{% static 'shortcutKey.js' %}"></script>
        {% if user.is_authenticated %}
        <script type="text/javascript" src="{% static 'semantic/newPostModal.js' %}"></script>
        <script type="text/javascript" src="{% static 'webtrigger.js' %}"></script>
        {% endif %}
        {% block script %}{% endblock %}
        {% if user.is_authenticated %}
        <script type="text/javascript">
            window.isNewPostModalActive = false
            window.CSRF_TOKEN = '{{ csrf_token }}'
            window.FAVORITE_LOC = '{% url "Favorite" %}'
            window.ANNOUNCE_LOC = '{% url "Announce" %}'
            window.IS_LOGIN = true
        </script>
        {% else %}
        <script type="text/javascript">
            window.IS_LOGIN = false
        </script>
        {% endif %}
    </body>
</html>
