{% extends '__head.html' %}

{% block title %}{% if isFediverseUser %}🌏 {% endif %}{% if targetUser.display_name %}{{ targetUser.display_name }}{% else %}{{ targetUser.username }}{% endif %} | CrossPlan{% endblock %}

{% block body %}
<h1 class="ui header">
    {% if targetUser.display_name %}{{ targetUser.display_name }}{% else %}{{ targetUser.username }}{% endif %}
    <div class="sub header">@{{ targetUser.username }}{% if isFediverseUser %}@{{ targetUser.Host }}{% endif %}</div>
</h1>
<hr>
<div class="ui stackable grid">
    <div class="four wide column">
        {% if isFediverseUser %}
        <div class="ui warning message">
            <div class="header">このユーザーは連合ユーザーです。</div>
            <p>このユーザーは連合ユーザーであり、最新のプロフィールでない可能性があります。</p>
            <a href="{{ targetUser.Url }}">連合先のユーザーのプロフィールを見る</a>
        </div>
        {% endif %}
        {% if targetUser == user %}
        <a class="ui button fluid" href="{% url 'Settings_Profile' %}">プロフィールを編集</a>
        {% else %}
        <div class="ui teal buttons">
            <div class="ui button fluid">フォロー</div>
            <div class="ui floating dropdown icon button">
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item"><i class="mute icon"></i> ミュート</div>
                    <div class="item"><i class="ban icon"></i> ブロック</div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="ui segment">
            <div>
                {% if targetUser.is_bot %}<div class="ui grey label">Bot</div>{% endif %}
            </div>
            <div>
                {% if targetUser.description %}
                    {{ targetUser.description|safe }}
                {% else %}
                    <em>説明なし</em>
                {% endif %}
            </div>
            {% if not isFediverseUser %}
            <hr>
            <p>{{ targetUser.registered }} 登録</p>
            {% endif %}
        </div>
        <div class="ui segment">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                        <a class="header" href="{% if isFediverseUser %}{% else %}{% url 'UserShow' targetUser.username %}{% endif %}">投稿</a>
                        <div class="description">{{ targetUser.posts.all.count }}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header" href="{% if isFediverseUser %}{% else %}{% url 'UserShowFollowing' targetUser.username %}{% endif %}">フォロー</a>
                        <div class="description">{{ targetUser.following.all.count }}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header" href="{% if isFediverseUser %}{% else %}{% url 'UserShowFollower' targetUser.username %}{% endif %}">フォロワー</a>
                        <div class="description">{{ targetUser.followers.all.count }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="twelve wide column">
        {% block side %}{% endblock %}
    </div>
</div>
{% endblock %}
