{% extends '__head.html' %}

{% block title %}{{ scraped_body }} | CrossPlan{% endblock %}

{% block body %}
<h1 class="ui header">
    {% if post.parent %}
    {% if post.parent.display_name %}{{ post.parent.display_name }}{% else %}{{ post.parent.username }}{% endif %}
    {% elif post.parentFedi %}
    {% if post.parentFedi.display_name %}{{ post.parentFedi.display_name }}{% else %}{{ post.parentFedi.username }}{% endif %}
    {% endif %}
    <div class="sub header">
        {% if post.parent %}
        <a href="{% url 'UserShow' post.parent.username %}">@{{ post.parent.username }}</a>
        {% elif post.parentFedi %}
        <a href="{% url 'FediUserShow' post.parentFedi.username post.parentFedi.Host %}">@{{ post.parentFedi.username }}@{{ post.parentFedi.Host }}</a>
        {% endif %}
    </div>
</h1>
<div class="post">
    {% if not post.announceTo %}
    {{ post.body|safe }}
    {% else %}
    <div class="ui small feed">
        <div class="event">
            <div class="content">
                <div class="summary">
                    {% if post.parent %}
                    {% if post.parent.display_name %}{{ post.parent.display_name }}{% else %}{{ post.parent.username }}{% endif %}
                    {% elif post.parentFedi %}
                    {% if post.parentFedi.display_name %}{{ post.parentFedi.display_name }}{% else %}{{ post.parentFedi.username }}{% endif %}
                    {% endif %}
                    がアナウンス
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <h4 class="ui header">
            {% if post.announceTo.parent %}
            {% if post.announceTo.parent.display_name %}{{ post.announceTo.parent.display_name }}{% else %}{{ post.announceTo.parent.username }}{% endif %}
            {% elif post.announceTo.parentFedi %}
            {% if post.announceTo.parentFedi.display_name %}{{ post.announceTo.parentFedi.display_name }}{% else %}{{ post.announceTo.parentFedi.username }}{% endif %}
            {% endif %}
            <div class="sub header">
                {% if post.announceTo.parent %}
                <a href="{% url 'UserShow' post.announceTo.parent.username %}">@{{ post.announceTo.parent.username }}</a>
                {% elif post.announceTo.parentFedi %}
                <a href="{% url 'FediUserShow' post.announceTo.parentFedi.username post.announceTo.parentFedi.Host %}">@{{ post.announceTo.parentFedi.username }}@{{ post.announceTo.parentFedi.Host }}</a>
                {% endif %}
            </div>
        </h4>
        <div>
            {{ post.announceTo.body|safe }}
        </div>
        <small>{{ post.announceTo.posted }}</small>
    </div>
    {% endif %}
</div>
<small>{{ post.posted }} </small>
<div class="ui horizontal list">
    <p class="item"><i class="retweet icon"></i> {{ post.announced.count }}</p>
    <p class="item"><i class="star icon"></i> {{ post.liked.count }}</p>
</div>
{% if post.fediID %}<p><a href="{{ post.fediID }}" target="_blank">投稿元を表示</a></p>{% endif %}
<hr>
{% if user.is_authenticated %}
<div class="ui buttons">
    <button class="ui button"><i class="reply icon"></i> 返信</button>
    {% if post.announceTo %}
    <button class="ui button blue" onclick="announce('{{ post.announceTo.uuid }}', this)"><i class="retweet icon"></i> アナウンス</button>
    <button class="ui button yellow" onclick="favorite('{{ post.announceTo.uuid }}', this)"><i class="star icon"></i> お気に入り</button>
    {% else %}
    <button class="ui button blue" onclick="announce('{{ post.uuid }}', this)"><i class="retweet icon"></i> アナウンス</button>
    <button class="ui button yellow" onclick="favorite('{{ post.uuid }}', this)"><i class="star icon"></i> お気に入り</button>
    {% endif %}
    {% if user == post.parent %}
    <button class="negative ui button" id="deleteButton"><i class="trash icon"></i> 削除</button>
    {% endif %}
</div>
{% endif %}

{% if user.is_authenticated and user == post.parent %}
<div class="ui basic modal" id="deleteConfirmModal">
    <div class="ui icon header">
        <i class="trash icon"></i>
        投稿を削除
    </div>
    <div class="content">
        <p>本当に削除しますか？</p>
    </div>
    <div class="actions">
        <div class="ui basic cancel inverted button">
        <i class="remove icon"></i>
        キャンセル
        </div>
        <div class="ui negative ok inverted button">
        <i class="trash icon"></i>
        削除
        </div>
    </div>
    <form method="POST" action="{% url 'DeletePost' %}" name="deleteTargetForm">
        <input type="hidden" name="uuid" value="{{ post.uuid }}">
        {% csrf_token %}
    </form>
</div>
{% endif %}
{% endblock %}

{% block script %}
{% if user.is_authenticated and user == post.parent %}
<script>
$('#deleteButton').click(function () {
    $('#deleteConfirmModal')
        .modal({
            closable: false,
            onApprove: function () {
                document.deleteTargetForm.submit()
            }
        })
        .modal('show')
})
</script>
{% endif %}
{% endblock %}
