{% extends '__profile_head.html' %}

{% block title %}{% if targetUser.display_name %}{{ targetUser.display_name }}{% else %}{{ targetUser.username }}{% endif %}のフォロワーリスト | CrossPlan{% endblock %}

{% block side %}
    {% for follower in targetUserFollower %}
    {% if follower.fromUser %}
    <div class="ui segment">
        <h3 class="ui header">
            {% if follower.fromUser.display_name %}{{ follower.fromUser.display_name }}{% else %}{{ follower.fromUser.username }}{% endif %}
            <div class="header sub"><a href="{% url 'UserShow' follower.fromUser.username %}">@{{ follower.fromUser.username }}</a></div>
        </h3>
        {{ follower.fromUser.description|safe }}
    </div>
    {% elif follower.fromFediUser %}
    <div class="ui segment">
        <h3 class="ui header">
            {% if follower.fromFediUser.display_name %}{{ follower.fromFediUser.display_name }}{% else %}{{ follower.fromFediUser.username }}{% endif %}
            <div class="header sub"><a href="{% url 'FediUserShow' follower.fromFediUser.username follower.fromFediUser.Host %}">@{{ follower.fromFediUser.username }}@{{ follower.fromFediUser.Host }}</a></div>
        </h3>
        {{ follower.fromFediUser.description|safe }}
    </div>
    {% endif %}
    {% if forloop.last %}
    <div class="ui centered grid">
        <div class="center aligned column">
            <div class="ui pagination menu">
                {% if targetUserFollower.has_previous %}
                <a class="item" href="?page={{ targetUserFollower.previous_page_number }}">前へ</a>
                {% else %}
                <div class="disabled item">前へ</div>
                {% endif %}
                {% for link_page in targetUserFollower.paginator.page_range %}
                    {% if link_page %}
                        {% if link_page == targetUserFollower.number %}
                        <a class="active item" href="#">{{ link_page }}</a>
                        {% else %}
                        <a class="active item" href="?page={{ link_page }}">{{ link_page }}</a>
                        {% endif %}
                    {% else %}
                    <div class="disabled item">...</div>
                    {% endif %}
                {% endfor %}
                {% if targetUserFollower.has_next %}
                <a class="item" href="?page={{ targetUserFollower.next_page_number }}">次へ</a>
                {% else %}
                <div class="disabled item">次へ</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% empty %}
    <div class="ui icon message">
        <i class="user icon"></i>
        <div class="content">
            <div class="header">フォロワーなし</div>
            <p>まだフォロワーがいません。</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
