{% extends '__profile_head.html' %}

{% block side %}
    {% for posts in targetUserPosts %}
    <div class="ui top attached segment" id="{{ posts.uuid }}">
        <h4 class="ui header">
            {% if posts.parent %}
            {% if posts.parent.display_name %}{{ posts.parent.display_name }}{% else %}{{ posts.parent.username }}{% endif %}
            {% elif posts.parentFedi %}
            {% if posts.parentFedi.display_name %}{{ posts.parentFedi.display_name }}{% else %}{{ posts.parentFedi.username }}{% endif %}
            {% endif %}
            <div class="sub header">
                {% if posts.parent %}
                @{{ posts.parent.username }}
                {% elif posts.parentFedi %}
                @{{ posts.parentFedi.username }}@{{ posts.parentFedi.Host }}
                {% endif %}
            </div>
            <small>{{ posts.posted }}</small>
        </h4>
        <div class="post">
            {% if not posts.announceTo %}
            {{ posts.body|safe }}
            {% else %}
            <div class="ui small feed">
                <div class="event">
                    <div class="content">
                        <div class="summary">
                            {% if posts.parent %}
                            {% if posts.parent.display_name %}{{ posts.parent.display_name }}{% else %}{{ posts.parent.username }}{% endif %}
                            {% elif posts.parentFedi %}
                            {% if posts.parentFedi.display_name %}{{ posts.parentFedi.display_name }}{% else %}{{ posts.parentFedi.username }}{% endif %}
                            {% endif %}
                            がアナウンス
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <h4 class="ui header">
                    {% if posts.announceTo.parent %}
                    {% if posts.announceTo.parent.display_name %}{{ posts.announceTo.parent.display_name }}{% else %}{{ posts.announceTo.parent.username }}{% endif %}
                    {% elif posts.announceTo.parentFedi %}
                    {% if posts.announceTo.parentFedi.display_name %}{{ posts.announceTo.parentFedi.display_name }}{% else %}{{ posts.announceTo.parentFedi.username }}{% endif %}
                    {% endif %}
                    <div class="sub header">
                        {% if posts.announceTo.parent %}
                        <a href="{% url 'UserShow' posts.announceTo.parent.username %}">@{{ posts.announceTo.parent.username }}</a>
                        {% elif posts.announceTo.parentFedi %}
                        <a href="{% url 'FediUserShow' posts.announceTo.parentFedi.username posts.announceTo.parentFedi.Host %}">@{{ posts.announceTo.parentFedi.username }}@{{ posts.announceTo.parentFedi.Host }}</a>
                        {% endif %}
                    </div>
                </h4>
                <div>
                    {{ posts.announceTo.body|safe }}
                </div>
                <small>{{ posts.announceTo.postsed }}</small>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="ui bottom attached menu">
        <a class="ui icon item link" href="{% url 'PostDetail' posts.uuid %}" title="詳細を表示">
            <i class="linkify icon"></i>
        </a>
        {% if user.is_authenticated %}
        <a class="ui icon item link" onclick="announce('{{ posts.uuid }}', this)" title="アナウンス">
            <i class="retweet icon"></i>
        </a>
        <a class="ui icon item link" onclick="favorite('{{ posts.uuid }}', this)" title="お気に入り">
            <i class="star icon"></i>
        </a>
        {% endif %}
    </div>
    {% if forloop.last %}
    <div class="ui centered grid">
        <div class="center aligned column">
            <div class="ui pagination menu">
                {% if targetUserPosts.has_previous %}
                <a class="item" href="?page={{ targetUserPosts.previous_page_number }}">前へ</a>
                {% else %}
                <div class="disabled item">前へ</div>
                {% endif %}
                {% for link_page in targetUserPosts.paginator.page_range %}
                    {% if link_page %}
                        {% if link_page == targetUserPosts.number %}
                        <a class="active item" href="#">{{ link_page }}</a>
                        {% else %}
                        <a class="item" href="?page={{ link_page }}">{{ link_page }}</a>
                        {% endif %}
                    {% else %}
                    <div class="disabled item">...</div>
                    {% endif %}
                {% endfor %}
                {% if targetUserPosts.has_next %}
                <a class="item" href="?page={{ targetUserPosts.next_page_number }}">次へ</a>
                {% else %}
                <div class="disabled item">次へ</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% empty %}
    <div class="ui icon message">
        <i class="inbox icon"></i>
        <div class="content">
            <div class="header">投稿がありません。</div>
            <p>投稿がないか、非公開の投稿のみのどちらかでしょう。</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
