{% extends '__head.html' %}

{% block title %}アカウント登録 | CrossPlan{% endblock %}

{% block body %}
<h1>アカウント登録</h1>
<hr />
{% if user.is_authenticated %}
<p>既にログイン済みです。別のアカウントを作成したい場合は<a href="{% url 'Logout' %}">ログアウトしてください。</a></p>
{% else %}
<form method="POST" class="ui form error">
    {% if form.non_field_errors %}
    <div class="ui negative message">
        <div class="header">以下の項目を確認してください。</div>
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    {% for field in form %}
        <div class="field{% if field.errors %} error{% endif %}">
            <label>{{ field.name }}</label>
            {{ field }}
        </div>
        {% if field.errors %}
        <div class="ui error message">
            <div class="header">以下の項目を確認してください。</div>
            {{ field.errors }}
        </div>
        {% endif %}
    {% endfor %}
    {% csrf_token %}
    <button class="ui button primary fluid" type="submit">登録</button>
</form>
{% endif %}
{% endblock %}